/*------------------------------------------------------------------
   Color Variation In AutoMax---------------------------------------
*/
/*------------------------------------------------------------------
   Font Variation In AutoMax---------------------------------------
*/
.product-item span {
  font-weight: bold;
  font-size: 22px;
  color: #c1030f; }
